* {
	padding:  0;
	margin:  0;
	box-sizing: border-box;
}

body {
	font-size:  14pt;
	font-family:  Arial;
	background-color:  #f3f3f3;
}

/* Common style  */
a {
	transition: .2s;
	color: #f3f3f3;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 5px 0;
}

.absolute {
	position: absolute;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.w100 {
	width: 100%;
}

.red {
	color: red;
}

.green {
	color:  green;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Common block  */
div.message {
	width:  100%;
	margin:  40px 0;
	font-size: 20pt;
	color: gray;
	text-align: center;
}

div.content {
	max-width: 1200px;
	margin:  0 auto;
	padding:  0 20px;
}

div.head {
	text-align: center;
	padding: 20px 0;
	margin:  20px 0;
	margin-top: 40px;
	font-size: 20pt;
	border-bottom: solid 3px black;
}


/* Form  */
form {
	text-align: center;
	margin: 0 auto;
	max-width: 720px;
}

form.w100 {
	max-width: 100%;
}

form div.line, form div.triple {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

form div.line > * {
	width: 49.5%;
}

form div.triple > * {
	width: 32%;
}

input, select, textarea, button {
	width:  100%;
	height:  50px;
	margin:  10px 0;
	font-size:  14pt;
	font-family:  Arial;
	padding-left: 10px;
	border-radius:  5px;
	border:  solid 1px rgba(0,0,0,0.5);
}

input[type=file] {
	height: 30px;
	border: none;
	padding: 0px;
}

textarea {
	padding: 10px;
	min-height: 150px;
}

input[type=button], button {
	background-color: #1d2327;
	color:  white;
	padding:  0;
	cursor: pointer;
}

/* Common containers */
div.wrap {
	text-align: left !important;
	width: 100% !important;
}

div.row {
	margin: 10px 0;
	display:  flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

div.row > div.col, div.wrap {
	width: 32%;
	padding: 20px;
	margin: 10px 0;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	border: solid 1px rgba(0,0,0,0.2);
}

div.table {
	margin: 10px auto;
	border-radius: 5px;
	border: solid 2px rgba(0,0,0,0.2);
}

div.table a {
	color: black;
}

div.table > div.item {
	transition: .2s;
	display: flex;
	overflow: hidden;
	padding: 15px 10px;
	justify-content: space-between;
	border-bottom: dashed 2px rgba(0,0,0,0.2);
}

div.table > div.item:first-child {
	border-bottom: solid 2px rgba(0,0,0,0.2);
}

div.table > div.item:last-child {
	border-bottom: none;
}

div.table > div.item:hover:not(:first-child) {
	border-left: solid 5px rgba(0,0,0,0.2);
	border-right: solid 5px rgba(0,0,0,0.2);
}
div.table > div.item:not(:hover) {
	border-left: solid 0px rgba(0,0,0,0.2);
	border-right: solid 0px rgba(0,0,0,0.2);
}

div.table > div.item > * {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

div.table > div.item:first-child > * {
	text-align: center;
}

div.table > div.item > *:first-child {
	text-align: left !important;
}

div.table > div.item > *:last-child {
	text-align: right;
}

/* Header  */
header {
	background-color: #1d2327;
}

header nav {
	transition: .2s;
	overflow: hidden;
	display: flex;
	color: white;
	justify-content: space-between;
}

header nav p {
	width: 100%;
	padding: 20px 0;
	transition: .2s;
	text-align: center;
}
header nav p:active {
	background-color: black;
}
/*
header nav p:hover{
	background-color: #f0f0f0;
}

header nav p:hover a {
	color: #1d2327;
}*/

div.dot {
	transition: .2s;
	width: 100%;
	color: white;
	cursor: pointer;
	padding: 20px 0;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #1d2327;
}

div.dot:active {
	background-color: black;
}

/* Footer  */
footer {
	margin-top: 40px;
}

/* Login page  */
div.login {
	width:  100%;
	height:  90vh;
	display:  flex;
	flex-wrap:  wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.login > div {
	padding:  30px;
}

div.login > div h2 {
	padding-bottom: 20px;
}

/* Media rules  */
@media screen and (max-width: 720px) {

	form div.line > *, form div.triple > * {
		width: 100%;
	}

	div.row > div.col {
		width: 48%;
	}

	div.table > div.item:not(:first-child) {
		flex-wrap: wrap;
	}
	
	header nav {
		flex-wrap: wrap;
		height: 0px;
	}

	header nav p {
		padding: 10px 0;
	}

	header nav p:last-child {
		margin-bottom: 10px;
	}

	header div.dot {
		display: flex;
	}

}